/* Base */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.black-back{
    background-color: black;
}
.fc{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Top bar */
header{
    width: 100%;
    height: 7vh;
    font-size: .7rem;
}
header div{
    position: relative;
    float: right;
    background-color: gray;
    color: white;
    padding: .2rem;
    border-radius: .2rem;
    margin-right: .5rem;
    top:.5vh;
}
/* Main */
.container{
    height: 82vh;
    width: 99%;
    margin: 0 auto;
    flex-wrap: wrap;
    overflow-y: scroll;
}
.persona{
    width:16%;
    height: 17vh;
    background-image: url('https://picsum.photos/200/121');
    background-size: cover;
    position: relative;
    margin-bottom: 1%;
}
.persona>div{
    background-color: rgba(146, 146, 146, 0.479);
    color: white;
    font-size: small;
    padding: .1rem;
    position: absolute;
    bottom: 0;
}
/* Scroll bar */
.container::-webkit-scrollbar{
    width: 1vw;
}
.container::-webkit-scrollbar-track {
    background: black;
}
.container::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54) ;
    border-radius: 1rem;
    border: .2rem solid black;
}
/* bottom bar */
.bott-bar{
    margin-top: 1vh;
    height: 10vh;
    width: 100%;
    background-color: #222222;
    position: relative;
    color: #fff;
}
.c1{
    width: 11vw;
}
.icon{
    width: 5vw;
    font-size: .7rem;
    text-align: center;
    position: relative;
    line-height: 1.8;
}
.big-icon{
    font-size: 1.4rem;
}
.large-txt{
    width: 6.56vw;
}
.fa-chevron-up{
    position: absolute;
    right: 0;
    bottom: 45%;
}
.green{
    color: #4bc800;
}
.c3{
    height: 100%;
    padding: 0 1%;
    color: ;
}
.c3:hover{
    background-color: #4a4a4a;
    color: red;
}