*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.black-back{
    background-color: black;
}
header{
    width: 100%;
    height: 7vh;
    font-size: small;
}
header div{
    position: relative;
    float: right;
    background-color: gray;
    color: white;
    padding: .2rem;
    border-radius: .2rem;
    margin-right: .5rem;
    top:.5vh;
}
.container{
    height: 82vh;
    width: 99%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}
.container::-webkit-scrollbar{
    width: 1vw;
}
.container::-webkit-scrollbar-track {
    background: black;
}
.container::-webkit-scrollbar-thumb {
    background-color: rgb(54, 54, 54) ;
    border-radius: 1rem;
    border: .2rem solid black;
}
.persona{
    width:16%;
    height: 17vh;
    background-image: url('https://picsum.photos/200/121/');
    background-size: cover;
    position: relative;
    margin-bottom: 1%;
}
.persona>div{
    background-color: rgba(146, 146, 146, 0.479);
    color: white;
    font-size: small;
    padding: .1rem;
    position: absolute;
    bottom: 0;
}
.bott-bar{
    margin-top: 1vh;
    height: 10vh;
    width: 100%;
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
}